<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
		<script src="https://cdn.datatables.net/2.1.8/js/dataTables.min.js"></script>
		<script src="home.js"></script>
		<link rel="stylesheet" href="home.css">
		<link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.min.css">
    	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
	</head>
	
	<body>
		
		<!-- title section -->
		<div class="title-section">
	        <h1>Find Your Desired Trail!</h1>
	    </div>
	    
		<!-- filter criteria section -->
		<div class="container filter-box">
			<form>
				
				<div class="row">
					<!-- ADDRESS INPUT -->
					<div class="col-md-2">
						<label class="form-label">Address</label>
					</div>
					<div class="col-md-4">
						<input type="text" class="form-control" id="address">
					</div>
					<!-- ACCESS NAME INPUT -->
					<div class="col-md-2">
						<label class="form-label">Access Name</label>
					</div>
					<div class="col-md-4">
						<input type="text" class="form-control" id="access-name">
					</div>
				</div>
				
				<div class="row">
					<!-- CLASS INPUT -->
					<div class="col-md-2">
						<label class="form-label">Trial Class</label>
					</div>
					<div class="col-md-4">
						<select id="trail-class" class="form-select">
	                        <option value="" selected>Select Class...</option>
	                        <option value="1">T1 (T1 Name)</option>
	                        <option value="2">T2 (T2 Name</option>
	                        <option value="3">T3 (T3 Name)</option>
                    	</select>
					</div>
					<!-- DIFFICULTY INPUT -->
					<div class="col-md-2">
						<label class="form-label">ADA Trail Difficulty</label>
					</div>
					<div class="col-md-4">
						<select id="ada-trail-diff" class="form-select">
	                        <option value="" selected>Select Difficulty</option>
	                        <option value="1">Easy</option>
	                        <option value="2">Moderate</option>
	                        <option value="3">Moderate/Difficult</option>
	                        <option value="4">Moderate/Most Difficult</option>
	                        <option value="5">Difficult</option>
                    	</select>
					</div>
				</div>
				
				<div class="row ">
					<!-- RESTROOM INPUT -->
					<div class="col-md-4">
	                    <div class="form-check">
		                    <label class="form-check-label" for="restroom">Restroom</label>
	                        <input class="form-check-input" type="checkbox" id="restroom" checked>
	                    </div>
	                </div>
	                
	                <!-- PICNIC INPUT -->
	                <div class="col-md-4">
	                    <div class="form-check">
		                    <label class="form-check-label" for="picnic">Picnic</label>
	                        <input class="form-check-input" type="checkbox" id="picnic" checked>
	                    </div>
	                </div>
	                
	                <!-- FISHING INPUT -->
	                <div class="col-md-4">
	                    <div class="form-check">
		                    <label class="form-check-label" for="fishing">Fishing</label>
	                        <input class="form-check-input" type="checkbox" id="fishing" checked>
	                    </div>
	                </div>
				</div>
				
				 <div class="row mt-4">
		            <div class="col text-end">
		                <button type="button" class="btn btn-primary" id="apply-filter">Apply Filter</button>
		            </div>
		        </div>
				
			</form>
		</div>

		<!-- DATATABLE SECTION -->
		<div class="container data-table">
			<table id="trail-table" class="display table table-striped table-bordered table-compact" >
				<thead>
					<tr>
						<th>Access Name</th>
						<th>Access ID</th>
						<th>Access Type</th>
						<th>Address</th>
						<th>AKA</th>
						<th>Availably Date From</th>
						<th>Availably Date To</th>
						<th>Restroom</th>
						<th>Picnic</th>
						<th>Fishing</th>
						<th>Fee</th>
						<th>Bike Rack</th>
						<th>Grills</th>
						<th>Horse Trail</th>
						<th>Recycle Bin</th>
						<th>Dog Compost</th>
						<th>TH Leash</th>
						<th>Dog Tubes</th>
						<th>Trash Cans</th>
						<th>Parking Space</th>
						<th>ADA Surface</th>
						<th>ADA Facility</th>
						<th>ADA Facility Name</th>
						<th>ADA Parking</th>
						<th>ADA Parking Number</th>
						<th>ADA Toilet</th>
						<th>ADA Fishing</th>
						<th>ADA Camping</th>
						<th>ADA Picnic</th>
						<th>Train Class</th>
						<th>ADA Trail Difficulty</th>
					</tr>
					
				</thead>
				
				<tbody>
				</tbody>
			</table>
		</div>

	</body>
</html>